<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_left">
        <h1>スケジュール</h1>
      </div>
      <div class ="header_right">
        <ul>
          <li><%= link_to("スケジュール一覧","/",class: 'link') %></li>
          <li><%= link_to("スケジュール新規登録","/posts/new",class: 'link') %></li>
        </ul>
      </div>
    </header>
    <div class="container">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %> 
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
